<div class="admin-theme"> 
<mat-horizontal-stepper linear="true" #stepper>
    <mat-step [stepControl]="firstFormGroup" [completed]="isBrandCompleted">
      <ng-template matStepLabel>Marque</ng-template>
      <div fxLayout="row" fxLayoutAlign="center center" class="big-component">
        <app-brands style="width:100%" (onBrandSelected)="goToModels($event)"></app-brands>
      </div>     
    </mat-step>
    <mat-step [stepControl]="secondFormGroup" [completed]="isModelCompleted">
      <ng-template matStepLabel>Modèle</ng-template>
      <div fxLayout="row" fxLayoutAlign="center center" class="big-component">
          <app-models style="width:100%" (onModelSelected)="goToProducts($event)"></app-models>
      </div>      
    </mat-step>
    <mat-step [completed]="isProductCompleted">
      <ng-template matStepLabel>Produit</ng-template>
      <div fxLayout="row" fxLayoutAlign="center center" class="big-component">
          <app-product-create-update style="width:100%"></app-product-create-update>
      </div>      
    </mat-step>
  </mat-horizontal-stepper>
</div>