<app-header background="./assets/images/home-moto.jpg">
    <div class="header-container">
      <p class="initial-title">{{'home.menu.first.title' | translate}}</p>
      <p class="initial-subtitle">{{'home.menu.first.subtitle' | translate}}</p>
      <mat-form-field appearance="outline" style="padding-top:10px;min-width:250px" class="form-field">
          <mat-label>{{'members.admin.search.label' | translate}}</mat-label>
          <input matInput  (keyup)="applyFilter($event.target.value)" placeholder="{{'members.admin.search.placeholder' | translate}}" autocomplete="off">
          <mat-icon matSuffix>search</mat-icon>
      </mat-form-field>
    </div>
</app-header>
<h1>debug</h1>
<h1>debug</h1>
<div fxLayout="row wrap">
    <div *ngFor="let product of products">
  <app-product-item  [product]="product"></app-product-item>

</div>
</div>
