<div class="product-item-container">
  <div fxLayout="column" fxLayoutAlign="center start" (click)="showDetail()">
      <img [src]="getProductPrimaryImage()" class="product-item-main-image">
      <div class="product-item-bottom-container" style="width:100%">
        <p class="product-item-title">{{product.title}}</p>
        <div fxLayout="row" fxLayoutAlign="space-between center" style="width:100%">
          <p class="product-item-price-discount">{{product.getFinalPrice() | currencyFormat}} €</p>
          <p *ngIf="product.discount>0" class="product-item-discount">{{product.getDiscount()}}%</p>
        </div>
        <small *ngIf="product.isNew" class="old-new isNew">{{'product.new' | translate}}</small>
        <small *ngIf="!product.isNew" class="old-new isOld">{{'product.old' | translate}}</small>
      </div>
  </div>
  <button *ngIf="product.isDeliverable && product.stock>0" style="width:100%" mat-raised-button color="primary" (click)="addToCart()"><mat-icon style="margin-right:10px">add_shopping_cart</mat-icon>{{'product.item.cart' | translate}}</button>
  <button *ngIf="product.isDeliverable && product.stock==0" style="width:100%" mat-raised-button color="primary" (click)="addToCart()" disabled="true"><mat-icon style="margin-right:10px">close</mat-icon>{{'product.item.nostock' | translate}}</button>
  <button *ngIf="!product.isDeliverable" style="width:100%" mat-raised-button color="primary" (click)="addToCart()" disabled="true">{{'product.item.shop' | translate}}</button>


<div> 
