<div class="wrapper">
  <div fxLayout="row" fxLayoutAlign="center center" class="main" (click)="expansion = !expansion">
    <div fxLayout="column" style="width:170px">
      <p class="title">{{'order.item.ref' | translate}}</p>
      <p>{{order.paypalOrderId}}</p>
    </div>
    <div fxFlex="1 1 auto" fxLayout="column">
      <p class="title">{{'order.item.status' | translate}}</p>
      <p style="font-weight:bold">{{order.status}}</p>
    </div>
    <div fxLayoutAlign="center center" fxLayout="column" style="width:50px">
        <p class="title">{{'order.item.price' | translate}}</p>
        <p>{{order.total}} €</p>
    </div>    
  </div>
  <div class="expansion" [ngClass]="{'expand' : expansion}">
    <div fxLayout="row" fxLayoutAlign="start start">
      <div fxFlex="50%">
        <p class="title">{{'order.item.products' | translate}}</p>
        <div *ngFor="let cartItem of order.cart.data">
          <p>{{cartItem.quantity}} x   {{cartItem.title}}</p>
        </div>
      </div>
      <div fxFlex="50%">
          <p class="title">{{'order.item.delivery' | translate}}</p>
          <p *ngIf="!order.delivery">{{'order.item.nodelivery' | translate}}</p>
          <div *ngIf="order.delivery" fxLayout="column">
            <small>{{order.address1}}</small>
            <small>{{order.address2}}</small>
            <small>{{order.city}}</small>
            <small>{{order.cp}}</small>
          </div>
        </div>
    </div>
    <p class="title">{{'order.item.executed' | translate}}</p>
    <p style="margin-top:0px">{{order.created_at | niceDateFormat}}</p>
    <p class="title">{{'order.item.updated' | translate}}</p>
    <p style="margin-top:0px">{{order.updated_at | niceDateFormat}}</p>
  </div>
</div>

<!--
id:number;
firstName:string;
lastName:string;
email:string;
mobile:string;
delivery:boolean;
address1:string;
address2:string;
cp:string;
city:string;
cart: any[];  
status:string;
total:number;
paypalOrderId:string;
paypalPaymentId:string;
created_at:string;
updated_at:string;-->