.wrapper {
    margin:2px;
}
.main {
    padding-left:10px;
    border: 1px solid rgba(black,0.2);
}
.main:hover {
    cursor:pointer;
    box-shadow: 1px 1px 2px  rgba(0, 0, 0, 0.4);
}

.main:active {
    background-color: rgba(blue,0.01);
}

.title {
    font-weight: bold;
    opacity: 0.3;
    margin-bottom: 0px;
}

.expansion {
    display:none;
    padding-left:10px;
    padding-right:10px;
    border: 1px solid rgba(black,0.2);
    background-color: rgba(black,0.02);
    padding-bottom:5px;
    p,small {
        opacity:0.7;
    }
}

.expand {
    display:block;
}