img {
    margin-right:20px;
    object-fit: fill;
}
.title {
    font-size:20px;
    font-weight: bold;
}
.text {
    margin-top:3px;
    padding-top:10px;
    border-top: 1px solid rgba(black,0.2);
}
@media only screen and (max-width: 700px) {
    .text {
        font-size:12px;
    }
    .title {
        font-size:14px;
    }
    img {
        height:40px;
    }
}