
<div class="admin-theme">  
    <div fxLayout="column" style="padding-top:20px">
      <div style="padding:20px" fxLayout="column">
        <div>
            <button mat-raised-button type="button" color="primary" routerLink="/admin-product-create"><mat-icon style="margin-right:10px">add_box</mat-icon>{{'create' | translate}}</button>
        </div>  
        <div fxFlex="1 1 auto">
            <mat-form-field appearance="outline" style="padding-top:10px;min-width:250px">
                <mat-label>{{'products.admin.search.label' | translate}}</mat-label>
                <input matInput  (keyup)="applyFilter($event.target.value)" placeholder="{{'products.admin.search.placeholder' | translate}}" autocomplete="off">
                <mat-icon matSuffix>search</mat-icon>
            </mat-form-field>
            <div fxLayout="column" style="padding:20px;padding-top:0px" fxLayoutGap="10px">
                <mat-checkbox [disabled]="disableVehicles" (change)="showVehicles($event)" > {{'products.admin.onlyVehicles' | translate}}</mat-checkbox>
                <mat-checkbox [disabled]="disablePieces"   (change)="showPieces($event)" > {{'products.admin.onlyPieces' | translate}}</mat-checkbox>
                <mat-checkbox [disabled]="disableZeroStock"   (change)="showZeroStock($event)" > {{'products.admin.onlyZeroStock' | translate}}</mat-checkbox>

            </div>  
            <p style="margin-bottom:5px;margin-top:0px;" class="total">TOTAL : {{productsDisplayed}} / <span style="font-weight:bold">{{productsCount}}</span></p> 
        </div>
      </div>
      <table #myTable mat-table [dataSource]="dataSource" multiTemplateDataRows class="table">
          <ng-container matColumnDef="image">
              <th mat-header-cell *matHeaderCellDef>{{'products.admin.table.picture' | translate}}</th>
              <td mat-cell *matCellDef="let row">
                  <div fxLayoutAlign="end start" mat-card-avatar [style.backgroundImage]="getImageUrl(row)" class="image" (click)="expand = false;rowClick(row);">
                  </div>
              </td>
          </ng-container>
  
          <ng-container matColumnDef="name">
              <th mat-header-cell *matHeaderCellDef>{{'products.admin.table.title' | translate}}</th>
              <td mat-cell *matCellDef="let row" [class.expanded-row]="false"  (click)="expand = false;rowClick(row);">{{row.title}}</td>
          </ng-container> 
          <!--
          <ng-container matColumnDef="brand">
              <th mat-header-cell *matHeaderCellDef>{{'products.admin.table.brand' | translate}}</th>
              <td mat-cell *matCellDef="let row" [class.expanded-row]="false"  (click)="expand = false;rowClick(row);">{{row.brand}}</td>
          </ng-container> -->
          <ng-container matColumnDef="model">
              <th mat-header-cell *matHeaderCellDef>{{'products.admin.table.model' | translate}}</th>
              <td mat-cell *matCellDef="let row">
                  <div fxLayout="row" fxLayoutAlign="start center"  (click)="expand = false;rowClick(row);">
                    <img alt="Marque" [src]="getBrandUrl(row)" class="image-small">
                    {{row.model}}
                  </div>
              </td>
          </ng-container>
          
          <ng-container matColumnDef="stock">
              <th mat-header-cell *matHeaderCellDef>{{'products.admin.table.stock' | translate}}</th>
              <td mat-cell *matCellDef="let row" [class.expanded-row]="false"  (click)="expand = false;rowClick(row);">{{row.stock}}</td>
          </ng-container> 

          <ng-container matColumnDef="created">
              <th mat-header-cell *matHeaderCellDef>{{'products.admin.table.created' | translate}}</th>
              <td mat-cell *matCellDef="let row" [class.expanded-row]="false"  (click)="expand = false;rowClick(row);">{{row.created_at | niceDateFormat}}</td>
          </ng-container>

          <ng-container matColumnDef="modify">
              <th mat-header-cell *matHeaderCellDef></th>
              <td mat-cell *matCellDef="let row"  [class.expanded-row]="expandedElement === row" 
              (click)="expand=true;expandedElement = row;onUpdateProduct(row.id) ">{{'modify' | translate}}</td>
          </ng-container> 
  
          <ng-container matColumnDef="delete">
              <th mat-header-cell *matHeaderCellDef></th>
              <td mat-cell *matCellDef="let row" (click)="onDeleteProduct(row.id)">{{'delete' | translate}}</td>
          </ng-container> 
        
          <ng-container matColumnDef="expandedDetail">
              <td mat-cell *matCellDef="let element" [attr.colspan]="displayedColumns.length">
                <div class="element-detail"
                    [@detailExpand]="(element == expandedElement) && expand ? 'expanded' : 'collapsed'">
                  <div style="padding:10px;width:100%" fxLayout="column" fxLayoutGap="20px" class="detail-wrapper"> 
                    <h3>{{'brands.admin.modify.header' | translate}}</h3>
                    <app-product-create-update *ngIf="element.id == expandedProductId" style="width:100%" [currentProduct] = "element" (productUpdated)="getProducts()"></app-product-create-update>

                  </div>
                </div>
              </td>
            </ng-container>
  
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let element; columns: displayedColumns;"
            class="element-row" [ngClass]="{'selected' : selected[element.id]}"></tr>
          <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="detail-row"></tr>
        </table>  
    </div> 
   
  </div>