<div class="wrapper">
    <form [formGroup]="myForm" novalidate> 
        <div fxLayout="row"  fxLayout.xs="column" fxLayoutAlign="start stretch" fxLayoutGap="20px">
          <mat-form-field appearance="outline" style="width:100%">
              <mat-label>{{'order.item.status.input.label' | translate}}</mat-label>
              <input matInput formControlName="status" placeholder="{{'order.item.status.input.placeholder' | translate}}" required autocomplete="off">
              <mat-hint>{{'order.item.status.input.hint' | translate}}</mat-hint>
              <mat-error *ngFor="let validation of validation_messages">
                <mat-error class="error-message" *ngIf="myForm.get('status').hasError(validation.type) && (myForm.get('status').dirty || myForm.get('status').touched)">{{validation.message | translate}}</mat-error>
              </mat-error>                 
          </mat-form-field> 
          <div fxLayout="column" fxLayoutAlign="center center">
            <div fxLayoutAlign="center center" fxLayoutGap="20px" fxFlex="1 1 auto">
                <button mat-button type="button" color="primary" (click)="onStatusReset()">{{'cancel' | translate}}</button>
                <button mat-raised-button type="button" color="primary" (click)="onStatusSubmit(myForm.value)"><mat-icon style="margin-right:10px">save</mat-icon>{{'save' | translate}}</button>
            </div>
          </div>
        </div>  
      </form>  
    <mat-divider></mat-divider>
    <p class="title">{{'order.item.name' | translate}}</p>
    <p style="margin-top:0px">{{order.firstName}} {{order.lastName}}</p>
    <p class="title">{{'order.item.email' | translate}}</p>
    <p style="margin-top:0px">{{order.email}}</p>
    <p class="title">{{'order.item.mobile' | translate}}</p>
    <p style="margin-top:0px">{{order.mobile | mobileFormat}}</p>
    <div *ngIf="isMobile" fxLayout="row" fxLayoutAlign="start start" fxLayoutGap="20px" style="margin-bottom:15px">
        <a href="mailto:{{order.email}}" mat-raised-button color="primary"><mat-icon aria-label="Message">email</mat-icon></a>   
        <a href="tel:{{order.mobile}}" mat-raised-button color="primary"><mat-icon aria-label="Call">phone</mat-icon></a>                     
    </div>
    <mat-divider></mat-divider>
    <div fxLayout="row" fxLayout.xs="column" fxLayoutAlign="start start">
      <div fxFlex="50%">
        <p class="title">{{'order.item.products' | translate}}</p>
        <div *ngFor="let cartItem of order.cart.data">
          <p>{{cartItem.quantity}} x   {{cartItem.title}}</p>
        </div>
      </div>
      <div fxFlex="50%">
          <p class="title">{{'order.item.delivery' | translate}}</p>
          <p *ngIf="!order.delivery">{{'order.item.nodelivery' | translate}}</p>
          <div *ngIf="order.delivery" fxLayout="column">
            <small>{{order.address1}}</small>
            <small>{{order.address2}}</small>
            <small>{{order.city}}</small>
            <small>{{order.cp}}</small>
          </div>
        </div>
    </div>
    <p class="title">{{'order.item.executed' | translate}}</p>
    <p style="margin-top:0px">{{order.created_at | niceDateFormat}}</p>
    <p class="title">{{'order.item.updated' | translate}}</p>
    <p style="margin-top:0px">{{order.updated_at | niceDateFormat}}</p>
</div>
