<div class="search-wrapper">
  <div fxLayout="row" fxLayoutAlign="space-between center" fxLayout.xs="column" fxLayoutAlign.xs="center start">
    <mat-form-field appearance="outline" style="min-width:250px" class="scale">
        <mat-label >{{'products.search.label' | translate}}</mat-label>
        <input matInput  (keyup)="keyUp.next($event.target.value)" placeholder="{{'products.search.placeholder' | translate}}" autocomplete="off">
        <mat-icon matSuffix>search</mat-icon>
    </mat-form-field>
    <mat-form-field appearance="outline" style="min-width:250px">
        <mat-label>{{'products.search.order.label' | translate}}</mat-label>
        <mat-select #sortList (selectionChange)="onOrderChange($event)">
          <mat-option value="match">{{'products.search.order.match' | translate}}</mat-option>
          <mat-option value="priceup">{{'products.search.order.priceup' | translate}}</mat-option>
          <mat-option value="pricedown">{{'products.search.order.pricedown' | translate}}</mat-option>
        </mat-select>
    </mat-form-field>
  </div>

    <mat-form-field appearance="outline" style="min-width:250px">
      <mat-label>Marque</mat-label>
      <mat-select #brandList [(ngModel)]="selectedBrand" (selectionChange)="onBrandChange()">
          <mat-option value="all"><span style="font-weight: bold">Toutes les marques</span></mat-option>
        <mat-option *ngFor="let brand of brands" value="{{brand.name}}">
          <div class="brand-option">
            <div fxLayoutAlign="end start" mat-card-avatar [style.backgroundImage]="getBrandImageUrl(brand)" class="image-brand"></div>
            <div>{{brand.name}}</div>
          </div>
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field *ngIf='selectedBrand!="all"' appearance="outline" style="min-width:250px;max-width:250px;display:block">
        <mat-label>Modèle</mat-label>
        <mat-select #modelList [(ngModel)]="selectedModel"  (selectionChange)="onModelChange()">
          <mat-option value="all"><span style="font-weight: bold">Tous les modèles</span></mat-option>
          <mat-option *ngFor="let model of modelsOfCurrentBrand" [value]="model">
              {{model}}
          </mat-option>
        </mat-select>
      </mat-form-field>

  </div>

