<div class="wrapper" fxLayout="column" fxLayoutAlign="start center">
    <div fxFlex="1 1 auto" class="content">
      <mat-list-item *ngIf="!onlyText" class="back-link" (click)="goBack()"><p class="back-link-text">{{'back' | translate}}</p></mat-list-item>
      <p class="title">{{'cgv.title' | translate}}</p>
      <p class="subtitle">{{'cgv.subtitle1' | translate}}</p>
      <p class="text">{{'cgv.text1' | translate}}</p>
      <p class="text">{{'address' | translate}}</p>
      <p class="text">{{'cgv.text2' | translate}}</p>
      <p class="subtitle">{{'cgv.subtitle2' | translate}}</p>
      <p class="text bold">{{'cgv.text3' | translate}}</p>
      <p class="text">{{'cgv.text4' | translate}}</p>
      <p class="text bold">{{'cgv.text5' | translate}}</p>
      <p class="text">{{'cgv.text6' | translate}}</p>
      <p class="text bold">{{'cgv.text7' | translate}}</p>
      <p class="text">{{'cgv.text8' | translate}}</p>
      <p class="subtitle">{{'cgv.subtitle3' | translate}}</p>
      <p class="text bold">{{'cgv.text9' | translate}}</p>
      <p class="text">{{'cgv.text10' | translate}}</p>
      <p class="text bold">{{'cgv.text11' | translate}}</p>
      <p class="text">{{'cgv.text12' | translate}}</p>
      <p class="text">{{'cgv.text13' | translate}}</p>
      <p class="text bold">{{'cgv.text14' | translate}}</p>
      <p class="text">{{'cgv.text15' | translate}}</p>
      <p class="subtitle">{{'cgv.subtitle4' | translate}}</p>
      <p class="text">{{'cgv.text16' | translate}}</p>
      <p class="text bold">{{'cgv.text17' | translate}}</p>
      <p class="text">{{'cgv.text18' | translate}}</p>
      <p class="text bold">{{'cgv.text19' | translate}}</p>
      <p class="text">{{'cgv.text20' | translate}}</p>
      <p class="text bold">{{'cgv.text21' | translate}}</p>
      <p class="text">{{'cgv.text22' | translate}}</p>
      <p class="text">{{'cgv.text23' | translate}}</p>
      <p class="text">{{'cgv.text24' | translate}}</p>
      <p class="text">{{'cgv.text25' | translate}}</p>
      <p class="subtitle">{{'cgv.subtitle5' | translate}}</p>
      <p class="text">{{'cgv.text26' | translate}}</p>
      <p class="subtitle">{{'cgv.subtitle6' | translate}}</p>
      <p class="text">{{'cgv.text27' | translate}}</p>
      <p class="subtitle">{{'cgv.subtitle7' | translate}}</p>
      <p class="text">{{'cgv.text28' | translate}}</p>
      <p class="text">{{'cgv.text29' | translate}}</p>
      <p class="text">{{'cgv.text30' | translate}}</p>
      <p class="subtitle">{{'cgv.subtitle8' | translate}}</p>
      <p class="text">{{'cgv.text31' | translate}}</p>
      <p class="subtitle">{{'cgv.subtitle9' | translate}}</p>
      <p class="text">{{'cgv.text32' | translate}}</p>
    </div>
</div>  
<app-footer *ngIf="!onlyText"></app-footer>