.detail-wrapper {
    background-color: rgba(255, 255, 255, 0) !important;
}

//Hide preview on small screens
@media only screen and (max-width: 700px) {
    .preview-wrapper {
        display:none;
    }
}

//Color for toasts
:host ::ng-deep .custom-toast .ui-toast-message {
    color: rgb(202, 14, 14);
    background: rgb(245, 200, 194);
}  
:host ::ng-deep .custom-toast .ui-toast-close-icon {
    color: rgb(202, 14, 14);;
}