.detail-wrapper {
    background-color: rgba(255, 255, 255, 0) !important;
    min-width: 300px;
    width:100%;
}
.preview-wrapper {
    min-width: 300px;
    width:100%;
    opacity:0.7;
}


.scale {
    transform:scale(0.8);
}