<div  class="product-create-update-wrapper"> 
  <!--In case we don't give brand and models we provide a way to find-->
  <div fxLayout="row" fxLayoutGap="20px" fxLayout.xs="column" fxLayoutAlign="center start">
    <div fxFlex="1 1 auto" class="admin-theme detail-wrapper">
      <!--Missing model selector-->
      <form [formGroup]="myForm" (ngSubmit)="onSubmit(myForm.value)" novalidate> 
          <div fxLayout="column" fxLayoutAlign="center stretch" fxLayoutGap="20px">
            <mat-form-field appearance="outline" style="width:100%">
                <mat-label>{{'product.admin.create.input.title.label' | translate}}</mat-label>
                <input matInput formControlName="title" placeholder="{{'product.admin.create.input.title.placeholder' | translate}}" required autocomplete="off">
                <mat-hint>{{'product.admin.create.input.title.hint' | translate}}</mat-hint>
                <mat-error *ngFor="let validation of validation_messages">
                  <mat-error class="error-message" *ngIf="myForm.get('title').hasError(validation.type) && (myForm.get('title').dirty || myForm.get('title').touched)">{{validation.message | translate}}</mat-error>
                </mat-error>                 
            </mat-form-field>      
            <mat-form-field appearance="outline" style="width:100%">
                <mat-label>{{'product.admin.create.input.description.label' | translate}}</mat-label>
                <textarea matInput formControlName="description" placeholder="{{'product.admin.create.input.description.placeholder' | translate}}" autocomplete="off"></textarea>
                <mat-hint>{{'product.admin.create.input.description.hint' | translate}}</mat-hint>
                <mat-error *ngFor="let validation of validation_messages">
                  <mat-error class="error-message" *ngIf="myForm.get('description').hasError(validation.type) && (myForm.get('description').dirty || myForm.get('description').touched)">{{validation.message | translate}}</mat-error>
                </mat-error>                 
            </mat-form-field>    
            <mat-form-field appearance="outline" style="width:100%">
                <mat-label>{{'product.admin.create.input.price.label' | translate}}</mat-label>
                <input matInput formControlName="price" placeholder="{{'product.admin.create.input.price.placeholder' | translate}}" required autocomplete="off" OnlyNumber inputmode="numeric"  maxlength="9" CurrencyFormatter>
                <mat-hint>{{'product.admin.create.input.price.hint' | translate}}</mat-hint>
                <mat-icon matSuffix>euro_symbol</mat-icon>
                <mat-error *ngFor="let validation of validation_messages">
                  <mat-error class="error-message" *ngIf="myForm.get('price').hasError(validation.type) && (myForm.get('price').dirty || myForm.get('price').touched)">{{validation.message | translate}}</mat-error>
                </mat-error>                 
            </mat-form-field>      
            <mat-form-field appearance="outline" style="width:100%">
                <mat-label>{{'product.admin.create.input.discount.label' | translate}}</mat-label>
                <input matInput formControlName="discount" placeholder="{{'product.admin.create.input.discount.placeholder' | translate}}" autocomplete="off" OnlyNumber inputmode="numeric" maxlength="9" CurrencyFormatter>
                <mat-hint>{{'product.admin.create.input.discount.hint' | translate}}</mat-hint>
                <mat-icon matSuffix>euro_symbol</mat-icon>
                <mat-error *ngFor="let validation of validation_messages">
                  <mat-error class="error-message" *ngIf="myForm.get('discount').hasError(validation.type) && (myForm.get('discount').dirty || myForm.get('discount').touched)">{{validation.message | translate}}</mat-error>
                </mat-error>                 
            </mat-form-field>     
            <app-input-plus-minus fieldName="stock" [parentForm]="myForm" [default]="stock" [label]="'product.admin.create.input.stock.label' | translate" [placeholder]="'product.admin.create.input.stock.placeholder' | translate" [hint]="'product.admin.create.input.stock.hint' | translate"></app-input-plus-minus>        
            <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="20px">
                <mat-slide-toggle formControlName="isVehicle">{{'product.admin.create.input.vehicle' | translate}}</mat-slide-toggle>
            </div>     
            <app-input-images #imagesCreate [isMultiple]="true" maxSize="800" [crop]="false" fieldName="images" [parentForm]="myForm" defaultImage="./assets/images/no-photo-available.jpg" [images]="images" [disabled] = "myForm.disabled"></app-input-images>            
            <div fxLayout="column" fxLayoutAlign="center center" fxFlex="1 1 auto">
                <div fxLayoutAlign="center center" fxLayoutGap="20px" fxFlex="1 1 auto">
                    <button mat-button type="reset" color="primary" (click)="onCreateProductReset()" [disabled] = "myForm.disabled">{{'cancel' | translate}}</button>
                    <button mat-raised-button type="submit" color="primary" [disabled] = "myForm.disabled"><mat-icon style="margin-right:10px">save</mat-icon>{{'save' | translate}}</button>
                </div>
            </div>
          </div>
      </form>   
    </div>

    <div fxFlex="1 1 auto" class="default-theme preview-wrapper">
        <!--<h3 class="admin-label">{{'product.admin.create.preview.header' | translate}}</h3>-->
        <div fxLayoutAlign="center center">
          <app-product-item  [product]="product" preview="true"></app-product-item>
        </div>
        <div class="admin-theme"></div>
    </div>
  </div>
</div>
