
.gallery-thumbs {
    overflow-x:auto;
}
.gallery-thumb-wrapper {
    //padding:3px;
    margin:3px;
}

.gallery-thumb {
    opacity: 0.4;
    width:80px;
    height:80px;
    max-width:80px;
    max-height: 80px;
    object-fit:scale-down;
    transition: all 0.5s ease-in-out;
}

.gallery-thumb:hover {
    box-shadow: 0px 0px 4px 0px;
    cursor:pointer;
}



.gallery-wrapper {
    width:100%;
    transition: all 0.5s ease-in-out;
    display:block !important;
}

.gallery-main-wrapper {
    transition: all 0.5s ease-in-out;
}


.gallery-main-image {
    width:100%;
    height:100%;
    object-fit:cover;
    transition: all 0.5s ease-in-out;
    box-sizing: content-box;
}

.selected {
    box-shadow: 0px 0px 4px 0px;
    opacity:1;
}

.animate {
    animation: fade 1s; 
}

@keyframes fade {
    0% {  opacity:1 }
    50% {opacity:0 }
    100% { opacity:1 }
  }  