
<div class="gallery-wrapper">
    <div *ngIf="images.length>1" class="gallery-thumbs" fxLayout="row" fxLayoutAlign="start center">
        <div #thumbs *ngFor="let image of images;let i=index;" class="gallery-thumb-wrapper" >
            <img  #thumb [src]="image" data-id="{{i}}" alt="picture" (click)="selectImage(thumb)" class="gallery-thumb" [ngClass]="{'selected' : isSelected(i)}">
        </div>
    </div>
    <div class="gallery-main-wrapper" fxLayout="row" [@galleryAnim]="{value: state, params: {startHeight: startHeight}}" >
      <img #myImage class="gallery-main-image" [src]="images[current]" ><!--[ngClass]="{'animate' : animate}">-->
    </div>  
</div>