<div class="wrapper">
  <div *ngIf="user.isAvailable()">
      <div class="left-border">
        <p class="title">{{'order.data.connected.title' | translate}}</p>
        <p class="subtitle">{{'order.data.connected.subtitle' | translate}}</p>
      </div>
      <div class="left-border">
          <p class="title">{{'order.data.connected.data' | translate}}</p>
          <p class="subtitle-small">{{user.firstName}} {{user.lastName}}</p>
          <p class="subtitle-small">{{user.email}}</p>
          <p class="subtitle-small">{{user.mobile | mobileFormat}}</p>
          <button mat-button color="primary" routerLink="/profile">{{'modify' | translate}}</button>
      </div>
  </div>
  <div *ngIf="!user.isAvailable()" fxLayout="column">
    <div>
      <button mat-button color="primary" routerLink="/signup">{{'order.data.signup' | translate}}</button>
      <button mat-button color="primary" routerLink="/login">{{'order.data.login' | translate}}</button>
    </div>
    <div class="left-border">
        <p class="title">{{'order.data.noaccount' | translate}}</p>
        <form [formGroup]="myForm" (ngSubmit)="onSubmit(myForm.value)" novalidate> 
              <div fxLayout="row wrap" fxLayoutAlign="center center">
                    <mat-form-field appearance="outline" class="field">
                      <mat-label>{{'input.firstname.label' | translate}}</mat-label>
                      <input matInput formControlName="firstName" placeholder="{{'input.firstname.label' | translate}}" required>
                      <mat-hint>{{'input.firstname.hint' | translate}}</mat-hint>
                      <mat-error *ngFor="let validation of validation_messages">
                          <mat-error class="error-message" *ngIf="myForm.get('firstName').hasError(validation.type) && (myForm.get('firstName').dirty || myForm.get('firstName').touched)">{{validation.message | translate}}</mat-error>
                      </mat-error>                 
                    </mat-form-field>          
                  <mat-form-field appearance="outline" class="field">
                    <mat-label>{{'input.lastname.label' | translate}}</mat-label>
                    <input matInput formControlName="lastName" placeholder="{{'input.lastname.label' | translate}}" required>
                    <mat-hint>{{'input.lastname.hint' | translate}}</mat-hint>
                    <mat-error *ngFor="let validation of validation_messages">
                        <mat-error class="error-message" *ngIf="myForm.get('lastName').hasError(validation.type) && (myForm.get('lastName').dirty || myForm.get('lastName').touched)">{{validation.message | translate}}</mat-error>
                    </mat-error>                 
                  </mat-form-field>
              </div>
              <div fxLayout="row wrap" fxLayoutAlign="center center">
                  <mat-form-field appearance="outline" class="field">
                    <mat-label>{{'input.phone.label' | translate}}</mat-label>
                    <input matInput formControlName="mobile" placeholder="06XXXXXXXX" required OnlyNumber inputmode="numeric" pattern="[0-9]*">
                    <mat-hint>{{'input.phone.hint' | translate}}</mat-hint>
                    <mat-error *ngFor="let validation of validation_messages">
                        <mat-error class="error-message" *ngIf="myForm.get('mobile').hasError(validation.type) && (myForm.get('mobile').dirty || myForm.get('mobile').touched)">{{validation.message | translate}}</mat-error>
                    </mat-error>
                  </mat-form-field>      
                    <mat-form-field appearance="outline" class="field">
                      <mat-label>{{'input.email.label' | translate}}</mat-label>
                      <input matInput formControlName="email" placeholder="{{'input.email.label' | translate}}" required>
                      <mat-hint>{{'input.email.hint' | translate}}</mat-hint>
                      <mat-error *ngFor="let validation of validation_messages">
                          <mat-error class="error-message" *ngIf="myForm.get('email').hasError(validation.type) && (myForm.get('email').dirty || myForm.get('email').touched)">{{validation.message | translate}}</mat-error>
                      </mat-error>                 
                    </mat-form-field>
               </div>  
               <button mat-raised-button type="submit" color="primary" style="margin-top:10px" [disabled]="myForm.invalid" >{{'order.data.submit' | translate}}</button>
        </form>
    </div>

  </div>

</div>
