<app-header background="./assets/images/home-contact.jpg">
  <div class="header-container">
    <p class="initial-title">{{'home.menu.third.title' | translate}}</p>
    <p class="initial-subtitle">{{'home.menu.third.subtitle' | translate}}</p>
  </div>
</app-header>
<div *ngIf="config.isLoaded" class="wrapper"  fxLayout="column" fxLayoutAlign="center center">
    <div fxLayout="row" fxLayout.xs="column" fxLayoutAlign="center start" fxLayoutGap="10px" class="map-wrapper" >
        <div *ngIf="config.hasMessage" fxFlex="100%"  class="bucket blue">
            <div fxLayout="row" fxLayoutAlign="start center"><mat-icon>info</mat-icon><span>{{config.message_title}}</span></div>
            <p style="padding-left:35px">{{config.message_text}}</p>
            <small>{{config.message_updated | niceDateFormat}}</small>      
        </div>
    </div>  
    <div fxLayout="row" fxLayout.xs="column" fxLayoutAlign="center start" fxLayoutGap="10px" class="map-wrapper" >
        <div fxFlex="50%" fxFlex.xs = "100%" class="bucket">
            <div fxLayout="row" fxLayoutAlign="start center"><mat-icon>location_on</mat-icon><span>{{'contact.timetable.title' | translate}}</span></div>
            <p>{{config.timetable1}}</p>
            <p>{{config.timetable2}}</p>
            <p>{{config.timetable3}}</p>
        </div>
        <div fxFlex="50%" fxFlex.xs = "100%" fxLayout="column">
          <div class="bucket">
            <div fxLayout="row" fxLayoutAlign="start center"><mat-icon class="scale">phone_android</mat-icon><span>{{config.phone | mobileFormat}}</span></div>
          </div>  
          <div class="bucket">
              <div fxLayout="row" fxLayoutAlign="start center"><mat-icon class="scale">email</mat-icon><a href='mailto:{{config.email}}' class="link">{{config.email}}</a></div>
            </div> 
        </div>
  </div>
  <div fxLayout="row" fxLayout.xs="column-reverse" fxLayoutAlign="center start" fxLayoutGap="10px" class="map-wrapper">
    <div fxFlex="50%" fxFlex.xs="100%" style="width:100%">
      <agm-map [latitude]="config.latitude" [longitude]="config.longitude"  [zoom]="config.zoom" [disableDefaultUI]="false" [zoomControl]="true">
        <agm-marker [latitude]="config.latitude" [longitude]="config.longitude"></agm-marker>
      </agm-map>
    </div>
    <div fxFlex="50%" fxFlex.xs = "100%" class="bucket">
        <div fxLayout="row" fxLayoutAlign="start center"><mat-icon>location_on</mat-icon><span>{{'contact.address.title' | translate}}</span></div>
        <p>{{config.address}}</p>
        <small>LAT: {{config.latitude}} , LONG: {{config.longitude}}</small>
    </div>
  </div>
</div>

<app-footer></app-footer>
