<div class="wrapper" fxLayout="column" fxLayoutAlign="start center">
    <div fxFlex="1 1 auto" class="content">
      <mat-list-item class="back-link" (click)="goBack()"><p class="back-link-text">Retour à la page précédente</p></mat-list-item>
      <p class="title">{{'legal.title' | translate}}</p>
      <p class="subtitle">{{'legal.subtitle1' | translate}}</p>
      <p class="text">{{'legal.text1' | translate}}</p>
      <p class="text">{{'legal.text2' | translate}}</p>
      <p class="text">{{'address' | translate}}</p>
      <p class="text">{{'legal.text3' | translate}}</p>
      <p class="text">{{'legal.text4' | translate}}</p>
      <p class="subtitle">{{'legal.subtitle2' | translate}}</p>
      <p class="text">{{'legal.text5' | translate}}</p>
      <p class="text">{{'legal.text6' | translate}}</p>
      <p class="text">{{'legal.text7' | translate}}</p>
      <p class="text">{{'legal.text8' | translate}}</p>
      <p class="text">{{'legal.text9' | translate}}</p>
      <p class="text">{{'legal.text10' | translate}}</p>
      <p class="subtitle">{{'legal.subtitle3' | translate}}</p>
      <p class="text">{{'legal.text11' | translate}}</p>
      <p class="text">{{'legal.text12' | translate}}</p>
      <p class="text">{{'legal.text13' | translate}}</p>
      <p class="text">{{'legal.text14' | translate}}</p>
      <p class="text">{{'legal.text15' | translate}}</p>
    </div>
</div>  
<app-footer></app-footer>