
<div class="wrap">
  <div *ngIf="order.total" style="width:100%" fxLayout="row" fxLayoutAlign="center center">
    <p class="final">{{'order.recap.total' | translate}} {{order.total | currencyFormat}}</p><mat-icon>euro_symbol</mat-icon>
  </div>
  <ngx-paypal [config]="payPalConfig" style="width:100%"></ngx-paypal>
  <!--<div id="paypal-checkout-button" [ngClass]="{'show' : paypalLoad == false?true:false}"></div>-->
  <div *ngIf="error" class="message">
      <div class="left-border">
          <p class="title">{{'order.error.title' | translate}}</p>
          <p class="subtitle">{{'order.error.subtitle' | translate}}</p>
      </div>
  </div>
  <div *ngIf="errorAjax" class="message">
      <div class="left-border">
          <p class="title">{{'order.errorajax.title' | translate}}</p>
          <p class="subtitle">{{'order.errorajax.subtitle' | translate}}</p>
      </div>
  </div>
</div>
