.wrap {
    min-width: 200px;
    max-width: 450px;
    width:100%;
}

.final {
    font-size: 25px;
    font-weight: bold;
    opacity: 0.6;
}
mat-icon {
    opacity: 0.6;
}

.left-border {
    transition:all 0.5s ease-in-out;
    border-left: 5px solid rgba(red,0.2);
    padding-left:10px;
    margin:8px;
    margin-top:20px;
    padding-top:3px;
    padding-bottom:3px;
    .title {
        margin-top:0px;
        margin-bottom:8px;
        font-size: 18px;
        line-height: 18px;
        font-weight: bold;
        color: rgba(red,0.4);     
    }
    .subtitle {
        font-size:15px;
        margin-top:5px;
        margin-bottom:5px;
        color: rgba(red,0.6);     
    }
    .subtitle-small {
        font-size:12px;
        opacity:0.8;
        margin-top:5px;
        margin-bottom:3px;
        color: rgba(red,0.6);   
    }    
}

#paypal-checkout-button {
    opacity:0;
}
#paypal-checkout-button.show {
    opacity:1;
}