
.wrap {
    min-width: 200px;
    max-width: 450px;
}
mat-form-field {
    width:100%;
    margin-bottom:5px;
}
input {
    font-size:16px;
}
.field {
    width:250px;
}
.field-small {
    width:120px;
}

.cvv-icon {
    margin-left:10px;
    margin-bottom:10px;
    font-size:20px;
    opacity:0.5;
    transition:all 0.4s ease-in-out;
}
.cvv-icon:hover {
    cursor:pointer;
    opacity:0.8;
}
.cvv-help {
    margin-top:3px;
    margin-bottom:5px;
    opacity:0.8;
    max-width:230px;
    padding:5px;
    border:1px solid;
    border-radius: 3px;
    p {
        font-size:14px;
    }
}
.cvv-help :first-child {
    font-weight: bold;
    margin-top:3px;
}


.final {
    font-size: 25px;
    font-weight: bold;
    opacity: 0.6;
}
.final-icon {
    opacity: 0.6;
}
/*
.left-border {
    transition:all 0.5s ease-in-out;
    border-left: 5px solid rgba(red,0.2);
    padding-left:10px;
    margin:8px;
    margin-top:20px;
    padding-top:3px;
    padding-bottom:3px;
    .title {
        margin-top:0px;
        margin-bottom:8px;
        font-size: 18px;
        line-height: 18px;
        font-weight: bold;
        color: rgba(red,0.4);     
    }
    .subtitle {
        font-size:15px;
        margin-top:5px;
        margin-bottom:5px;
        color: rgba(red,0.6);     
    }
    .subtitle-small {
        font-size:12px;
        opacity:0.8;
        margin-top:5px;
        margin-bottom:3px;
        color: rgba(red,0.6);   
    }    
}

#paypal-checkout-button {
    opacity:0;
}
#paypal-checkout-button.show {
    opacity:1;
}
*/