.product-item-dialog-galleria {
    width:100%;
/*    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    background-size: cover;*/
} 
:host ::ng-deep {
.ui-panel-images {
    height:400px !important;
    width:100% !important;
    max-width: 80vw !important;
    object-fit: cover !important;

}
.ui-galleria {
    width:100% !important;
}
.ui-galleria-pannel-wrapper {
    width:100% !important;
}
.ui-galleria-panel {
    width:100% !important;
    min-width: 100% !important;
    max-width: 100% !important;
}

}

