<div class="wrapper" fxLayout="column" fxLayoutAlign="start center">
    <div fxFlex="1 1 auto" class="content">
      <mat-list-item class="back-link" (click)="goBack()"><p class="back-link-text">{{'back' | translate}}</p></mat-list-item>
      <p class="title">{{'payment.legal.title' | translate}}</p>
      <p class="subtitle">{{'payment.legal.subtitle' | translate}}</p>
      <p class="text">{{'payment.legal.text1' | translate}}</p>
      <p class="text">{{'payment.legal.text2' | translate}}</p>
      <p class="text">{{'payment.legal.text3' | translate}}</p>
      <p class="text">{{'payment.legal.text4' | translate}}</p>
    </div>
</div>  
<app-footer></app-footer>