
.strike {
    text-decoration: line-through;
    opacity:0.5;
}

.wrapper {
    width:100%;
    min-height:200px;
    padding:10px;
}

.header-title {
    font-size: 30px;
    font-weight: bold;
}
.header-price {
    font-size: 25px;
    font-weight: bold;
}