.left-border {
    transition:all 0.5s ease-in-out;
    border-left: 3px solid rgba(black,0.4);
    padding-left:10px;
    margin:8px;
    padding-top:3px;
    padding-bottom:3px;
    .title {
        margin-top:0px;
        margin-bottom:8px;
        font-size: 20px;
        font-weight: bold;
        opacity:0.4;
    }
    .subtitle {
        font-size:15px;
        opacity:0.8;
        margin-top:5px;
        margin-bottom:5px;
    }
    .subtitle-small {
        font-size:12px;
        opacity:0.8;
        margin-top:5px;
        margin-bottom:3px;
    }    
}
.left-border:hover {
    border-left: 3px solid rgba(black,0.6);
}

.field {
    min-width:210px;
    padding:3px;
}
.wide {
    width:100%;
}