<div class="wrapper">
    <div class="left-border">
        <p class="title">{{'order.address.title' | translate}}</p>
        <p class="subtitle-small">{{'order.address.subtitle' | translate}}</p>
        <form [formGroup]="myForm" (ngSubmit)="onSubmit(myForm.value)" novalidate> 
            <div fxLayout="column" fxLayoutAlign="center center">
                  <mat-form-field appearance="outline" class="field wide">
                    <mat-label>{{'input.address1.label' | translate}}</mat-label>
                    <input matInput formControlName="address1" placeholder="{{'input.address1.label' | translate}}" required>
                    <mat-hint>{{'input.address1.hint' | translate}}</mat-hint>
                    <mat-error *ngFor="let validation of validation_messages">
                        <mat-error class="error-message" *ngIf="myForm.get('address1').hasError(validation.type) && (myForm.get('address1').dirty || myForm.get('address1').touched)">{{validation.message | translate}}</mat-error>
                    </mat-error>                 
                  </mat-form-field>          
                <mat-form-field appearance="outline" class="field wide">
                  <mat-label>{{'input.address2.label' | translate}}</mat-label>
                  <input matInput formControlName="address2" placeholder="{{'input.address2.label' | translate}}">
                  <mat-hint>{{'input.address2.hint' | translate}}</mat-hint>              
                </mat-form-field>
            </div>
            <div fxLayout="row wrap" fxLayoutAlign="center center">
                <mat-form-field appearance="outline" class="field">
                  <mat-label>{{'input.city.label' | translate}}</mat-label>
                  <input matInput formControlName="city" placeholder="{{'input.city.label' | translate}}" required >
                  <mat-hint>{{'input.city.hint' | translate}}</mat-hint>
                  <mat-error *ngFor="let validation of validation_messages">
                      <mat-error class="error-message" *ngIf="myForm.get('city').hasError(validation.type) && (myForm.get('city').dirty || myForm.get('city').touched)">{{validation.message | translate}}</mat-error>
                  </mat-error>
                </mat-form-field>      
                  <mat-form-field appearance="outline" class="field">
                    <mat-label>{{'input.cp.label' | translate}}</mat-label>
                    <input matInput formControlName="cp" placeholder="{{'input.cp.label' | translate}}" required OnlyNumber inputmode="numeric" pattern="[0-9]*">
                    <mat-hint>{{'input.cp.hint' | translate}}</mat-hint>
                    <mat-error *ngFor="let validation of validation_messages">
                        <mat-error class="error-message" *ngIf="myForm.get('cp').hasError(validation.type) && (myForm.get('cp').dirty || myForm.get('cp').touched)">{{validation.message | translate}}</mat-error>
                    </mat-error>                 
                  </mat-form-field>
             </div>  
             <button mat-raised-button type="submit" color="primary" style="margin-top:10px" [disabled]="myForm.invalid" >{{'order.address.submit' | translate}}</button>
      </form>
    </div>

</div>
