<div class="container">

  <div class="toolbar banner-theme banner">
   <!-- <div class="banner-extra" fxLayout="row" fxLayoutAlign="start center">
        <div><img src="./assets/images/logo.jpg" alt_text="logo"></div>
        <div>
          <h1>Casse moto 06</h1>
          <h2>La casse moto reference dans les alpes maritimes</h2>
          </div>  
    </div>  -->
  <mat-toolbar [class.mat-elevation-z8]="true">
    <button class="main-menu" mat-icon-button (click)="snav.toggle()"><mat-icon>menu</mat-icon></button>
    <div><img src="./assets/images/logo.jpg" alt_text="logo" (click)="user.isAdmin()?snav.toggle():goToRoute([''])"></div>
    <div class="wide-menu" fxLayout="row" fxLayoutAlign="center center" style="width:100%">
        <div fxFlex="1 1 auto" fxLayoutAlign="center center"><div class="menu-item" (click)="goToRoute([''])">{{'app.menu.home' | translate}}<div></div></div></div>
        <div fxFlex="1 1 auto" fxLayoutAlign="center center"><div class="menu-item" (click)="goToRoute(['/vehicles'])">{{'app.menu.first' | translate}}<div></div></div></div>
        <div fxFlex="1 1 auto" fxLayoutAlign="center center"><div class="menu-item" (click)="goToRoute(['/pièces'])">{{'app.menu.second' | translate}}<div></div></div></div>
        <div fxFlex="1 1 auto" fxLayoutAlign="center center"><div class="menu-item" (click)="goToRoute(['/contact'])">{{'app.menu.third' | translate}}<div></div></div></div>
    </div>
    <div fxFlex="1 1 auto" fxLayoutAlign="end center" style="height:100%">
        <div class="menu-icon menu-icon-text" *ngIf="!user.isAvailable()" fxLayoutAlign="center center" (click)="goToRoute(['/login'])">
            <small>{{'app.menu.login' | translate}}</small>
        </div>  
        <div class="menu-icon menu-icon-text" *ngIf="!user.isAvailable()"  fxLayoutAlign="center center" (click)="goToRoute(['/signup'])">
            <small>{{'app.menu.signup' | translate}}</small>
        </div>          
        <div class="menu-icon" *ngIf="user.isAvailable()" fxLayout="column" fxLayoutAlign="center center" (click)="goToRoute(['/profile'])">
              <mat-icon aria-label="Connected" >person</mat-icon>
              <small>{{user.firstName}}</small>
        </div>  
        <div class="menu-icon" fxLayoutAlign="center center" (click)="openCartDialog()"> <!--goToRoute(['/pannier'])">-->
            <mat-icon *ngIf="cartCount==0" aria-label="Pannier" >shopping_cart</mat-icon>
            <mat-icon *ngIf="cartCount>0"  [matBadge]="cartCount"  matBadgeColor="accent" aria-label="Pannier" >shopping_cart</mat-icon>
        </div>     
            
    </div>
  </mat-toolbar>
</div>
  <mat-sidenav-container class="sidenav-container"
                         [style.marginTop.px]="mobileQuery.matches ? 0 : 0"> 
    <mat-sidenav class="sidenav sidenav-theme" #snav [mode]="mobileQuery.matches ? 'over' : 'side'"
                 [fixedInViewport]="mobileQuery.matches" fixedTopGap="56">      
      <mat-nav-list>
          <div *ngIf="!user.isAvailable()"> 
              <div style="width:100%;padding:5px" fxLayoutAlign="center center"><button mat-raised-button color="primary" routerLink="/login" (click)="snav.toggle()">{{'app.menu.login' | translate}}</button></div>
              <div style="width:100%;padding:5px" fxLayoutAlign="center center"><button mat-stroked-button color="primary" routerLink="/signup" (click)="snav.toggle()">{{'app.menu.signup' | translate}}</button></div>            
          </div>
          <div *ngIf="user.isAvailable()"> 
                  <div style="width:100%;padding:5px" fxLayoutAlign="center center"><button mat-stroked-button color="primary"  (click)="snav.toggle();logout()">{{'app.menu.logout' | translate}}</button></div>
          </div>      
          <mat-divider></mat-divider>  
          <a mat-list-item (click)="snav.toggle()" routerLink="" class="sidenav-item">{{'app.menu.home' | translate}}</a>
          <a mat-list-item (click)="snav.toggle()" routerLink="/vehicles" class="sidenav-item">{{'app.menu.first' | translate}}</a>
          <a mat-list-item (click)="snav.toggle()" routerLink="/pièces" class="sidenav-item">{{'app.menu.second' | translate}}</a>
          <a mat-list-item (click)="snav.toggle()" routerLink="/contact" class="sidenav-item">{{'app.menu.third' | translate}}</a>
          <mat-expansion-panel>
              <mat-expansion-panel-header>
                <mat-panel-title>{{'app.menu.admin' | translate}}</mat-panel-title>
              </mat-expansion-panel-header>   
              <a mat-list-item (click)="snav.toggle()" class="sidenav-item" routerLink="admin-products">{{'app.menu.products' | translate}}</a>
              <a mat-list-item (click)="snav.toggle()" class="sidenav-item" routerLink="admin-members">{{'app.menu.members' | translate}}</a>
          </mat-expansion-panel>
      </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content>
        <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>


