@import "../themes.scss"; //Import general themeing

/*Inital loading part*/
.initial-wrapper {
  color:white;
  display: flex;
  flex-direction: column;
  align-items:center;
  justify-content: center;
  background-color: #2f3e99;
  margin-top:0px;
  position: absolute;
  top:0px;
  left:0px;
  width:100%;
  height:100vh;
  h1 {
    font-size: 34px;
  }
  img {
    width:236px;
    height:130px;
  }
  p {
    animation: initial-animation 2s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
  }
}
.initial-wrapper .mycolor {
  color: #2f3e99;
  margin:0px;
}

@keyframes initial-animation { 
0% { opacity:1; }
80% {opacity:1;}
90% {opacity:0;}
100% { opacity:1; }
}

.container {
    min-width:300px;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    height:100vh;
    left: 0;
    right: 0;
  }
  
  .toolbar {
      z-index: 2; 
      //box-shadow: 1px 2px black;
  }

  .is-mobile .toolbar {
    position: fixed;
    /* Make sure the toolbar will stay on top of the content as it scrolls past. */
    max-height: 56px;
  }
  
  h1.app-name {
    margin-left: 8px;
  }
  
  .sidenav-container {
    /* When the sidenav is not fixed, stretch the sidenav container to fill the available space. This
       causes `<mat-sidenav-content>` to act as our scrolling element for desktop layouts. */
    flex: 1;
  }
  
  .is-mobile .sidenav-container {
    /* When the sidenav is fixed, don't constrain the height of the sidenav container. This allows the
       `<body>` to be our scrolling element for mobile layouts. */
    flex: 1 0 auto;
  }

  .sidenav {
      min-width:170px;
      max-width: 300px;
  }


  ///////////////////////////    Toolbar part

  .banner-extra {
    background: #2f3e99;
  }

  .banner {
    //margin-bottom:5px;
    width:100%;
    //background-color:rgb(47,62,153);
  }
  .banner img {
    margin-left:0px;
    height:50px;
  }
  .banner img:hover {
    cursor:pointer;
  }

  .menu-item {
    opacity:0.6;
    transition: all 0.5s ease-in-out;
    font-size: 16px;
  }

  .menu-item:hover {
    opacity:1;
    cursor: pointer;
    div {
      animation: menu 0.5s;
      animation-fill-mode: forwards;
      
    }
  }

  .menu-item div {
    opacity:0;
    width:100%;
    height:2px;
    background-color: white;
  }

  @keyframes menu {
    0% {
        opacity:0;
        transform: translate(0,20px);
    }  
    100% {
      opacity: 1;
      transform: translate(0,0);
    }
  }

  //Icons part
  .menu-icon {
    opacity:0.6;
    width:60px;
    height:100%;
    small {
      font-size: 12px;
      line-height: 13px;
    }
  }
  .menu-icon:hover {
    opacity:1;
    transition: all 0.5s ease-in-out;
    cursor:pointer;
    small {
      transition: all 0.5s ease-in-out;
      transform:scale(1.2);
    }
  }
  .menu-icon-text {
    width:100px;
  }

  .main-menu {
    transition: all 0.5s ease-in-out;
    display:none !important;
    mat-icon {
      transition: all 1s ease-in-out;
    }
  }
  .main-menu:active {
    transform:scale(1.2);
    mat-icon {
      animation-name: spin;
      animation-duration: 0.4s;
      animation-iteration-count: 2;
      animation-timing-function: linear;
    }
  }

  @keyframes spin { 
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

  .wide-menu {
    max-width: 850px;
  }

  //Hide wide menu and show menu on small screens
  @media only screen and (max-width: 768px) {
    .wide-menu {
      display:none !important;
    }
    .main-menu {
      display:inline-block !important;
    }
    .banner img {
      height:40px;
    }
  }
  @media only screen and (max-width: 450px) {
    .menu-icon {
      width:50px;
      small {
        font-size: 11px;
      }
    }
    .menu-icon-text {
      width:75px;
    }
    .banner img {
      margin-left:5px;
      height:30px;
    }
  }

//sidenav
.sidenav-item {
  opacity:0.6;
  transition: all 0.5s ease-in-out;
}
.sidenav-item:hover {
  opacity:1;
  transform:scale(1.1);
}


