<div *ngIf="!loading" class="container" [class.is-mobile]="mobileQuery.matches" >
  <!--<div class="banner-theme banner">
  <mat-toolbar fxLayoutAlign="start center" style="height:100%">
    <div><img src="./assets/images/logo.jpg"></div>
    <div fxLayout="row" fxLayoutAlign="center center" style="width:100%">
    <div fxFlex="1 1 auto"><div><p>Acceuil</p><img src="./assets/images/trace.png" style="height:10px"></div><div></div> </div>
    <div fxFlex="1 1 auto">Motos</div>
    <div fxFlex="1 1 auto">Pieces dettaches</div>
    <div fxFlex="1 1 auto">Nous contacter</div>
    </div>
  </mat-toolbar>
  </div>-->
  <mat-toolbar  class="toolbar" [class.mat-elevation-z8]="true">
    <button mat-icon-button (click)="snav.toggle()"><mat-icon>menu</mat-icon></button>
    <div fxFlex="1 1 auto" fxLayoutAlign="end center">
        <div *ngIf="user.isAvailable()" fxLayout="row" fxLayoutGap="20px">
          <!--<button  mat-mini-fab color="white" class="scaled">
                  <div *ngIf="user.notifications>0">
                    <mat-icon [matBadge]="user.notifications" matBadgeColor="accent" aria-label="Notifications" routerLink='/notifications' >notifications</mat-icon>
                  </div>
                  <div *ngIf="user.notifications==0">
                      <mat-icon  aria-label="Notifications"  routerLink='/notifications'>notifications_none</mat-icon>
                  </div>
          </button>   
          <button  mat-mini-fab color="white" class="scaled">
                  <div *ngIf="user.messages>0">
                    <mat-icon [matBadge]="user.messages" matBadgeColor="accent" aria-label="Messages" routerLink='/notifications' >mail</mat-icon>
                  </div>
                  <div *ngIf="user.messages==0">
                      <mat-icon  aria-label="Messages"  routerLink='/messages'>mail_outline</mat-icon>
                  </div>
          </button>   -->
          <div  fxLayout="column" fxLayoutAlign="center center">
              <button mat-mini-fab color="white" style="background-size:cover;" routerLink='/profile' class="scaled"></button>           
              <small style="font-size:10px;line-height:10px">{{user.account}}</small>
          </div>
        </div>  
        <div *ngIf="!user.isAvailable()" fxLayout="column" fxLayoutAlign="center center">
                <button  mat-mini-fab color="white" routerLink='/login' class="scaled">
                  <mat-icon matBadge="x" matBadgeColor="accent" aria-label="Déconnecté">person</mat-icon>
                </button> 
                <small style="font-size:10px;line-height:10px">Deconnecte</small>
        </div>                                
    </div>
  </mat-toolbar>

  <mat-sidenav-container class="sidenav-container"
                         [style.marginTop.px]="mobileQuery.matches ? 56 : 0">
    <mat-sidenav class="sidenav" #snav [mode]="mobileQuery.matches ? 'over' : 'side'"
                 [fixedInViewport]="mobileQuery.matches" fixedTopGap="56">
      <mat-nav-list>
          <div *ngIf="!user.isAvailable()"> 
              <div style="width:100%;padding:5px" fxLayoutAlign="center center"><button mat-raised-button color="primary" routerLink="/login" (click)="snav.toggle()">Login</button></div>
              <div style="width:100%;padding:5px" fxLayoutAlign="center center"><button mat-stroked-button color="primary" routerLink="/signup" (click)="snav.toggle()">Signup</button></div>            
          </div>
          <div *ngIf="user.isAvailable()"> 
                  <div style="width:100%;padding:5px" fxLayoutAlign="center center"><button mat-stroked-button color="primary"  (click)="snav.toggle();logout()">Logout</button></div>
          </div>      
          <mat-divider></mat-divider>  
          <a mat-list-item (click)="snav.toggle()" routerLink="admin-product-create">Creer produit !</a>
          <a mat-list-item (click)="snav.toggle()" routerLink="admin-modeles">Modeles !</a>
      </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content>
        <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
<div *ngIf="loading">
  <app-init></app-init>
</div>

