:host ::ng-deep .mat-form-field-wrapper{
    padding-bottom: 0;
    margin-bottom:0;
}
.brand-tiny-thumb {
    background-size:cover;
    width:30px;
    height:30px;
    border-radius:3px;
    opacity:0.8;
    margin:5px;
}

.brand-input {
    position: absolute;
    background-size:cover;
    width:36px;
    height:36px;
    border-radius:3px;
    opacity:1;
    margin:0px;
    left:0px;
    top: 0px;
}