.shadow {
    display:none !important;
}

.image-wrapper {
    //padding:3px;
    margin:3px;
    border:1px solid;
    opacity: 0.4;
    min-width:60px;
    max-width:60px;
    min-height: 60px;
    max-height: 60px;
}

.image-wrapper:hover {
    box-shadow: 0px 0px 4px 0px;
    cursor:pointer;
}

.image-item {
    width:100%;
    height:100%;
    max-width:150px;
    max-height: 150px;
    object-fit:scale-down;
}

.gallery {
    max-width: 100%;
    margin-top:10px;
    overflow-x: auto;
}
.wrapper-real-image {
    max-width: 100px;
    max-height:100px;
    min-width: 100px;
    min-height: 100px;
    border:1px solid;
}
.selected {
    box-shadow: 0px 0px 4px 0px;
    opacity:1;
}