<img class="shadow" alt="shadow" #shadowImg style="border:1px solid green">
<canvas class="shadow" #shadowCanvas style="border:1px solid red;"></canvas>
<div class="wrapper" fxLayout="column" style="text-align:center;margin:5px" [formGroup]="parentForm">
    <div fxLayout="row">
      <input  class="shadow" type="file" #fileInput (change)="loadImage($event)">  
      <img  alt="picture" #realImg class="image-item">
      <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="10px" fxLayoutGap.xs="5px" fxFlex="100%" style="margin-bottom:10px">
        <button mat-mini-fab color="primary" type="button" (click)="openFileViewer()">
            <mat-icon aria-label="Example icon-button with a heart icon">camera_alt</mat-icon>
        </button>
        <button  mat-mini-fab color="primary" type="button" (click)="resetImage()">
            <mat-icon aria-label="Example icon-button with a heart icon">delete</mat-icon>
        </button>
        <button   mat-mini-fab color="primary" type="button" (click)="rotateImage()">
            <mat-icon aria-label="Example icon-button with a heart icon">rotate_right</mat-icon>
        </button>
        </div>
    </div>  
    <div #gallery fxLayout="row" fxLayoutGap="5px" class="gallery">
      <div *ngFor="let image of images;let i=index;" class="image-wrapper" [ngClass]="{'selected' : isSelected(i)}">
        <img  #thumb [src]="image" data-id="{{i}}" alt="picture" (click)="selectImage(thumb)" class="image-item" >
      </div>
    </div>
  </div>
