@import "../../../themes.scss";

$primary: map-get($admin-theme,primary);
$accent: map-get($admin-theme,accent);



//Table formatting
.table-container {
    min-height:300px;
  }

  th,td {
    min-width:60px;
  }
  
  table {
    width: 100%;
  }


  tr.detail-row {
    height: 0;
  }

  .element-row td {
    border-bottom-width: 0;
  }

  .mat-column-delete {
    width:60px;
    min-width:60px;
    max-width:60px;
    font-size:12px; 
    transition: all 0.3s ease-in-out;
  }
  .mat-column-modify {
    width:60px;
    min-width:60px;
    max-width:60px;
    font-size:12px; 
    transition: all 0.3s ease-in-out;
  }


  .element-detail {
    overflow: hidden;
    display: flex;
  }

  tr.element-row:not(.expanded-row):hover {
    background: rgba(255,255,255,0.1);
    cursor:pointer;
  }


  td.mat-column-modify:hover {
      cursor:pointer;
      color: mat-color($primary,700) !important;
      transform:scale(1.2);
  }

  td.mat-column-delete:hover {
    cursor:pointer;
    color: mat-color($primary,700) !important;
    transform:scale(1.2);
}

  tr.element-row:not(.expanded-row):active {
    background: rgba(255,255,255,0.2);
  }

  tr.element-row.expanded-row {
    //background-color: black !important;
    background: mat-color($primary,700) !important;
  }

  //Selected row   
  .selected {
    background-color: black !important;
  }   
//End of table formatting  



.brand-input {
    position: absolute;
    background-size:cover;
    width:46px;
    height:46px;
    border-radius:3px;
    opacity:1;
    margin:0px;
    left:-10px;
    top: -7px;
}


