<div class="spinner-container">
    <div class="spinner-row">
      <div id="spinner-loader">
        <div class="spinner-dot"></div>
        <div class="spinner-dot"></div>
        <div class="spinner-dot"></div>
        <div class="spinner-dot"></div>
        <div class="spinner-dot"></div>
        <div class="spinner-dot"></div>
        <div class="spinner-dot"></div>
        <div class="spinner-dot"></div>
        <div class="spinner-loading"></div>
      </div>
  
      <!--<p class="spinner-message" *ngIf="message && message !== ''">
        {{message}}
      </p>-->
    </div>
  </div>
