<div class="wrapper" fxLayout="column" fxLayoutAlign="start center">
  <div fxFlex="1 1 auto" class="content">
    <mat-list-item class="back-link" (click)="goBack()"><p class="back-link-text">{{'back' | translate}}</p></mat-list-item>
    <p class="title">{{'livraison.title' | translate}}</p>
    <p class="subtitle">{{'livraison.subtitle' | translate}}</p>
    <p class="text">{{'livraison.text1' | translate}}</p>
    <p class="text">{{'livraison.text2' | translate}}</p>
    <p class="text">{{'livraison.text3' | translate}}</p>
  </div>
</div>  
<app-footer></app-footer>