
<app-header background="./assets/images/home-parts.jpg">
  <div class="header-container">
    <p class="initial-title">{{'home.menu.second.title' | translate}}</p>
    <p class="initial-subtitle">{{'home.menu.second.subtitle' | translate}}</p>
  </div>
  <div class="sidenav-theme">
      <app-search-product (result)="updateFilter($event)"></app-search-product>
  </div>
</app-header>

<div class="search-result" fxLayout="row" fxLayoutAlign="start center">
  <p><span>{{matches}}</span> {{'found' | translate}}</p>
</div>
<div *ngIf="products.length>0">
  <div fxLayout="row wrap" fxLayoutAlign="center center" [@productAnim]="products.length" class="product-wrapper">
      <app-product-item *ngFor="let product of products" [product]="product"></app-product-item>
  </div>
</div>
<app-footer></app-footer>
