
<app-header background="./assets/images/home-parts.jpg">
  <div class="header-container">
    <p class="initial-title">{{'home.menu.second.title' | translate}}</p>
    <p class="initial-subtitle">{{'home.menu.second.subtitle' | translate}}</p>

    <!--<mat-form-field appearance="outline" style="padding-top:10px;min-width:250px" class="scale">
        <mat-label >{{'members.admin.search.label' | translate}}</mat-label>
        <input matInput  (keyup)="applyFilter($event.target.value)" placeholder="{{'members.admin.search.placeholder' | translate}}" autocomplete="off">
        <mat-icon matSuffix>search</mat-icon>
    </mat-form-field>-->

  </div>
</app-header>
<div fxLayout="row wrap" fxLayoutAlign="center start">
  <div *ngFor="let product of products">
    <app-product-item  [product]="product"></app-product-item>
  </div>
</div>
