<app-header background="./assets/images/home-main.jpg">
    <div class="header-container" fxLayout="column">
      <p class="initial-title">{{'home.title' | translate}}</p>
      <p class="initial-subtitle">{{'home.subtitle' | translate}}</p>
      <div fxFlex="1 1 auto" fxLayout="column" fxLayoutAlign="center center" style="width:100%">
        <button mat-stroked-button style="font-size:24px;padding:15px;" (click)="goToMenu()"><span>Accéder</span></button>
      </div>
          <div fxLayout="column" fxLayoutAlign="center center" class="main-icon-text-wrapper"> 
            <p class="main-icon-text" [@headerAnim]="selected">{{text[selected] | translate}}</p>
          </div>

    </div>
</app-header>
<div fxLayout="column" fxLayoutAlign="center center">
    <div class="menu-wrapper" fxLayout="row" (click)="goToRoute(['/véhicules'])">
    <div fxFlex="50%" class="menu-text-wrapper" fxLayout="column" fxLayoutAlign="center start">
        <p class="menu-text-wrapper-title">{{'home.menu.first.title' | translate}}</p>
        <p class="menu-text-wrapper-subtitle">{{'home.menu.first.subtitle' | translate}}</p>
    </div>
    <div fxFlex="50%" class="menu-image-wrapper">
        <div #imagevehicle class="menu-image" [ngStyle]="{'background-image': 'url(' + getImage('home-moto.jpg') +')'}"></div>
    </div>
    </div>
    <div class="menu-wrapper" fxLayout="row" (click)="goToRoute(['/pièces'])">
        <div fxFlex="50%" class="menu-text-wrapper" fxLayout="column" fxLayoutAlign="center start">
            <p class="menu-text-wrapper-title">{{'home.menu.second.title' | translate}}</p>
            <p class="menu-text-wrapper-subtitle">{{'home.menu.second.subtitle' | translate}}</p>
        </div>
        <div fxFlex="50%" class="menu-image-wrapper">
            <div class="menu-image" [ngStyle]="{'background-image': 'url(' + getImage('home-parts.jpg') +')'}"></div>
        </div>
    </div>
    <div class="menu-wrapper" fxLayout="row" (click)="goToRoute(['/contact'])">
        <div fxFlex="50%" class="menu-text-wrapper" fxLayout="column" fxLayoutAlign="center start">
        <p class="menu-text-wrapper-title">{{'home.menu.third.title' | translate}}</p>
        <p class="menu-text-wrapper-subtitle">{{'home.menu.third.subtitle' | translate}}</p>
        </div>
        <div fxFlex="50%" class="menu-image-wrapper">
            <div class="menu-image" [ngStyle]="{'background-image': 'url(' + getImage('home-contact.jpg') +')'}"></div>
        </div>
    </div>
</div>
<app-footer></app-footer>