<app-header background="./assets/images/home-main.jpg">
    <div class="header-container" fxLayout="column">
      <p class="initial-title">{{'home.title' | translate}}</p>
      <p class="initial-subtitle">{{'home.subtitle' | translate}}</p>
      <div fxFlex="1 1 auto" fxLayout="column" fxLayoutAlign="center center" style="width:100%">
        <button mat-stroked-button style="font-size:24px;padding:15px;" (click)="goToMenu()"><span>Accéder</span></button>
      </div>
          <div fxLayout="column" fxLayoutAlign="center center" class="main-icon-text-wrapper"> 
            <p class="main-icon-text" [@headerAnim]="selected">{{text[selected] | translate}}</p>
          </div>

    </div>
</app-header>
<div fxLayout="column" fxLayoutAlign="center center">
    <div class="menu-wrapper" fxLayout="row" (click)="goToRoute(['/véhicules'])">
    <div fxFlex="50%" class="menu-text-wrapper" fxLayout="column" fxLayoutAlign="center start">
        <h1 class="menu-text-wrapper-title">{{'home.menu.first.title' | translate}}</h1>
        <p class="menu-text-wrapper-subtitle">{{'home.menu.first.subtitle' | translate}}</p>
    </div>
    <div fxFlex="50%" class="menu-image-wrapper">
        <div #imagevehicle class="menu-image" [ngStyle]="{'background-image': 'url(' + getImage('home-moto.jpg') +')'}"></div>
    </div>
    </div>
    <div class="menu-wrapper" fxLayout="row" (click)="goToRoute(['/pièces'])">
        <div fxFlex="50%" class="menu-text-wrapper" fxLayout="column" fxLayoutAlign="center start">
            <h1 class="menu-text-wrapper-title">{{'home.menu.second.title' | translate}}</h1>
            <p class="menu-text-wrapper-subtitle">{{'home.menu.second.subtitle' | translate}}</p>
        </div>
        <div fxFlex="50%" class="menu-image-wrapper">
            <div class="menu-image" [ngStyle]="{'background-image': 'url(' + getImage('home-parts.jpg') +')'}"></div>
        </div>
    </div>
    <div class="menu-wrapper" fxLayout="row" (click)="goToRoute(['/contact'])">
        <div fxFlex="50%" class="menu-text-wrapper" fxLayout="column" fxLayoutAlign="center start">
        <h1 class="menu-text-wrapper-title">{{'home.menu.third.title' | translate}}</h1>
        <p class="menu-text-wrapper-subtitle">{{'home.menu.third.subtitle' | translate}}</p>
        </div>
        <div fxFlex="50%" class="menu-image-wrapper">
            <div class="menu-image" [ngStyle]="{'background-image': 'url(' + getImage('home-contact.jpg') +')'}"></div>
        </div>
    </div>
</div>
<div fxLayout="column" fxLayoutAlign="center center">
    <div class="desc-wrapper">
        <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="20px" class="desc-header">
            <img class="desc-image" src="./assets/images/icon-moto.jpg" alt="véhicules">
            <h2>{{'home.description1.header' | translate }}</h2>
        </div>
        <p class="desc-text">{{'home.description1.subtitle1' | translate }} <a routerLink="/véhicules">{{'home.description1.span1' | translate }}</a> {{'home.description1.subtitle2' | translate }}</p>
        <p class="desc-text">{{'home.description1.subtitle3' | translate }}</p>
        <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="20px" class="desc-header">
            <img class="desc-image" src="./assets/images/icon-pieces.jpg" alt="Pièces moto occasion">
            <h2>{{'home.description2.header' | translate }}</h2>
        </div>
        <p class="desc-text">{{'home.description2.subtitle1' | translate }}<a routerLink="/pièces">{{'home.description2.span1' | translate }}</a>{{'home.description2.subtitle2' | translate }}</p>
        <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="20px" class="desc-header">
            <img class="desc-image" src="./assets/images/icon-pieces-new.jpg" alt="Pièces moto neuves">
            <h2>{{'home.description3.header' | translate }}</h2>
        </div>
        <p class="desc-text">{{'home.description3.subtitle1' | translate }}<a routerLink="/pièces">{{'home.description3.span1' | translate }}</a>{{'home.description3.subtitle2' | translate }}</p>
        <p class="desc-text">{{'home.description3.subtitle3' | translate }}</p>
        <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="20px" class="desc-header">
            <img class="desc-image" src="./assets/images/icon-service.jpg" alt="Entretien et reparation">
            <h2>{{'home.description4.header' | translate }}</h2>
        </div>
        <p class="desc-text">{{'home.description4.subtitle1' | translate }}</p>
        <p class="desc-text">{{'home.description4.subtitle2' | translate }}<a routerLink="/contact">{{'home.description4.span1' | translate }}</a></p>
    </div>
</div>
<app-footer></app-footer>