<app-header background="./assets/images/home-main.jpg">
    <div class="header-container">
      <p class="initial-title">{{'home.title' | translate}}</p>
      <p class="initial-subtitle">{{'home.subtitle' | translate}}</p>
      <div fxLayout="column" fxLayoutAlign="center center" style="width:100%">
          <div fxLayout="row" fxLayoutAlign="start center" class="main-icon-wrapper" fxLayoutGap="10px">
                <div fxFlex="1 1 auto"><img  src="./assets/images/icon-moto.jpg"       class="main-icon" [ngClass]="{'icon-selected' : selected==0?true:false}"></div>
                <div fxFlex="1 1 auto"><img  src="./assets/images/icon-pieces.jpg"     class="main-icon" [ngClass]="{'icon-selected' : selected==1?true:false}"></div>
                <div fxFlex="1 1 auto"><img  src="./assets/images/icon-pieces-new.jpg" class="main-icon" [ngClass]="{'icon-selected' : selected==2?true:false}"></div>
                <div fxFlex="1 1 auto"><img  src="./assets/images/icon-service.jpg"    class="main-icon"  [ngClass]="{'icon-selected' : selected==3?true:false}"></div>
          </div> 
          <div fxLayout="column" fxLayoutAlign="center center" class="main-icon-text-wrapper"> 
            <p class="main-icon-text">{{text[selected] | translate}}</p>
          </div>
      </div>
    </div>
    <!--<fb-like href="https://www.facebook.com/cassemoto"  layout="button_count" share="true" size="large"></fb-like>-->

</app-header>
<div fxLayout="column" fxLayoutAlign="center center">
    <div class="menu-wrapper" fxLayout="row" (click)="goToRoute(['/vehicles'])">
    <div fxFlex="50%" class="menu-text-wrapper" fxLayout="column" fxLayoutAlign="center start">
        <p class="menu-text-wrapper-title">{{'home.menu.first.title' | translate}}</p>
        <p class="menu-text-wrapper-subtitle">{{'home.menu.first.subtitle' | translate}}</p>
    </div>
    <div fxFlex="50%" class="menu-image-wrapper">
        <div #imagevehicle class="menu-image" [ngStyle]="{'background-image': 'url(' + getImage('home-moto.jpg') +')'}"></div>
    </div>
    </div>
    <div class="menu-wrapper" fxLayout="row" (click)="goToRoute(['/pièces'])">
        <div fxFlex="50%" class="menu-text-wrapper" fxLayout="column" fxLayoutAlign="center start">
            <p class="menu-text-wrapper-title">{{'home.menu.second.title' | translate}}</p>
            <p class="menu-text-wrapper-subtitle">{{'home.menu.second.subtitle' | translate}}</p>
        </div>
        <div fxFlex="50%" class="menu-image-wrapper">
            <div class="menu-image" [ngStyle]="{'background-image': 'url(' + getImage('home-parts.jpg') +')'}"></div>
        </div>
    </div>
    <div class="menu-wrapper" fxLayout="row" (click)="goToRoute(['/contact'])">
        <div fxFlex="50%" class="menu-text-wrapper" fxLayout="column" fxLayoutAlign="center start">
        <p class="menu-text-wrapper-title">{{'home.menu.third.title' | translate}}</p>
        <p class="menu-text-wrapper-subtitle">{{'home.menu.third.subtitle' | translate}}</p>
        </div>
        <div fxFlex="50%" class="menu-image-wrapper">
            <div class="menu-image" [ngStyle]="{'background-image': 'url(' + getImage('home-contact.jpg') +')'}"></div>
        </div>
    </div>
</div>
<app-footer></app-footer>