<div class="footer-wrapper">
  <p>test</p>
  <div fxLayout="row" fxLayout.xs="column" fxLayoutAlign="center center">
      <div fxFlex="50%" fxLayoutAlign="center start">
          <mat-list>
              <mat-list-item> Livraison </mat-list-item>
              <mat-list-item> Mentions légales </mat-list-item>
              <mat-list-item> Conditions Générales de Ventes </mat-list-item>
              <mat-list-item> Payement sécurisé </mat-list-item>
          </mat-list>
      </div>
      <div fxFlex="50%" fxLayoutAlign="center start">
          <mat-list>
              <mat-list-item> <mat-icon>location_on</mat-icon> <span>Adresse: </span></mat-list-item>
              <mat-list-item>Casse Moto 06, ZI Tiragon 112g route de Pégomas 06370 Mouans Sartoux, France </mat-list-item>
              <mat-list-item> <mat-icon>phone_android</mat-icon><span>Appelez-nous au: </span> 04 92 92 91 80 </mat-list-item>
              <mat-list-item> <mat-icon>email</mat-icon><span>E-mail: </span> <a href="mailto:contact@cassemoto06">contact@cassemoto06.fr</a> </mat-list-item>
          </mat-list>
      </div>
  </div>
  <div fxLayout="row" fxLayoutAlign="center center" style="width:100%">
    <a href="www.kubiiks.com">Site réalisé par kubiiks SAS</a> 
  </div>
</div>

