.footer-wrapper {
    padding:10px;
    padding-bottom:20px;
    background-color:#546e7a;
   * {
    color:#eceff1 !important;
   }
}
mat-list-item:hover {
    color:white !important;
    cursor:pointer;
}