.footer-wrapper {
    margin-top:5px;
    padding:10px;
    padding-bottom:20px;
    background-color:#546e7a;
   * {
    //color:#eceff1 !important;
    color: #cfd8dc;
   }

}


.clickable {
    padding-left: 10px;
    transition:all 0.3s ease-in-out;
    border-left:5px solid rgba(255,255,255,0.1);
}
.clickable:hover {
    //color:white !important;
    color:#eceff1 !important;
    cursor:pointer;
    border-left:5px solid;
}
mat-icon {
    color:white !important;
}
.scale {
    transform:scale(1.4);
    padding-right: 10px;
}
.highlight {
    color: white !important;
}

.link {
    text-decoration: none !important;
    transition:all 0.5s ease-in-out;
}
.link:hover {
    color:white;
}

.kubiiks {
    margin-top:15px;
}

.text {
    margin-top: 0px;
    padding-left:10px;
}

