<div class="footer-wrapper">
  <div fxLayout="row" fxLayout.xs="column" fxLayoutAlign="center center" fxLayoutAlign.xs="start start">
      <div fxFlex="50%" fxLayoutAlign="center start">
          <mat-list>
              <mat-list-item class="clickable">Livraison </mat-list-item>
              <mat-list-item class="clickable">Mentions légales </mat-list-item>
              <mat-list-item class="clickable">Conditions Générales de Ventes </mat-list-item>
              <mat-list-item class="clickable">Payement sécurisé </mat-list-item>
          </mat-list>
      </div>
      <div fxFlex="50%" fxLayoutAlign="center start">
          <mat-list>
              <mat-list-item> <mat-icon class="scale">location_on</mat-icon> <span class="highlight">Adresse</span></mat-list-item>
              <mat-list-item>SARL Casse Moto 06, 80 chemin des cardelines, 06370 Mouans Sartoux, France </mat-list-item>
              <!--<mat-list-item class="highlight"> <mat-icon class="scale">phone_android</mat-icon> 04 92 92 91 80 </mat-list-item>-->
              <mat-list-item> <mat-icon class="scale">email</mat-icon><a href="mailto:contact@cassemoto06" class="link">contact@cassemoto06.fr</a> </mat-list-item>
          </mat-list>
      </div>
  </div>
  <div fxLayout="row" fxLayoutAlign="center center" style="width:100%">
    <a href="http://www.kubiiks.com" class="link kubiiks">Site réalisé par kubiiks SAS</a> 
  </div>
</div>

